// Цвета
$color-bg-main: #09090b;
$color-bg-card: #1e1e24;
$color-bg-header: #121216;
$color-accent: #6366f1;
$color-accent-hover: #4f46e5;

$color-text-main: #ffffff;
$color-text-muted: #a1a1aa;
$color-border: #27272a;

// Размеры
$container-max-width: 1200px;